---
import MessengerIcons from "@components/MessengerIcons.astro";
import { site } from "@lib/site";

type Props = {
  productTitle?: string;
};

Astro.props as Props;
---

<div class="contact-buttons">
  <a class="button button-primary" href={site.phonePrimaryHref}>Позвонить</a>
  <MessengerIcons />
</div>
